@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\0000325}}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\0000349}}
body {
  font: 12px, "Microsoft YaHei", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\0000355}}
a {
  color: #2d374b;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\0000360}}
em {
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\0000364}}
li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\0000368}}
img {
  border: 0;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\0000373}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\0000378}}
p {
  word-wrap: break-word; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\0000382}}
input,
input:focus,
input:hover,
button,
button:focus,
button:hover {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\0000391}}
.l {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\0000395}}
.r {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\0000399}}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003107}}
.none {
  display: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003111}}
section,
footer {
  min-width: 1250px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003116}}
body {
  min-height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003121}}
.loginModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99999;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000)"; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003135}}
.loginWrap {
  padding-bottom: 30px;
  width: 360px;
  margin: 0 auto;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -210px 0 0 -180px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003146}}
.login-head {
  padding: 0 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003148}}
  .login-head h1 {
    display: inline-block;
    width: 80px;
    height: 49px;
    text-align: center;
    float: left;
    color: #787d82;
    font-size: 16px;
    line-height: 49px;
    cursor: pointer;
    vertical-align: baseline;
    font-weight: 400; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003160}}
    .login-head h1:hover {
      color: #f01400;
      border-bottom: 1px solid #f01400; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003165}}
  .login-head i {
    font-weight: 100;
    height: 27px;
    width: 27px;
    display: inline-block;
    font-size: 27px;
    color: #93999F;
    margin-top: 10px;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003174}}
    .login-head i:hover {
      color: #ec1500; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003180}}
.border-wrap {
  border-bottom: 1px solid #d0d6d9; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003184}}
h1.h-active {
  color: #f01400;
  border-bottom: 1px solid #f01400; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003189}}
.login-body,
.register-body {
  padding: 0 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003194}}
.login-form-input {
  outline: 0;
  font-size: 14px;
  margin-top: 30px;
  height: 20px;
  width: 279px;
  padding: 9px 9px 9px 10px;
  border: 1px solid #d0d6d9; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003202}}
  .login-form-input:focus {
    border-color: #98a1a6; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003207}}
.rememberMe {
  height: 14px;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003212}}
  .rememberMe #rememberMe {
    line-height: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003215}}
  .rememberMe label {
    line-height: 14px;
    margin-left: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003221}}
#login-button,
#register-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #f01400;
  border-color: #f01400;
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  transition: .4s background-color; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003234}}
  #login-button:hover,
  #register-button:hover {
    background-color: #ff6464;
    border-color: #ff6464; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003240}}
.login-foot {
  position: relative;
  z-index: 1;
  padding: 20px 30px 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003244}}
  .login-foot p {
    font-size: 14px;
    line-height: 28px;
    color: #666;
    display: inline-block;
    vertical-align: bottom; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003251}}
  .login-foot i {
    margin-left: 20px;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    vertical-align: baseline;
    height: 20px;
    width: 20px;
    padding: 4px;
    color: #fff;
    background-color: #b5b9bc;
    border-radius: 50%;
    behavior: url(PIE.htc);
    display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003269}}
.fa-qq:hover {
  background-color: #08c; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003273}}
.fa-weixin:hover {
  background-color: #00b33b; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003277}}
.fa-weibo:hover {
  background-color: #f01400; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003281}}
.validate {
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003283}}
  .validate input {
    outline: 0;
    font-size: 14px;
    margin-top: 30px;
    height: 20px;
    width: 120px;
    padding: 9px 9px 9px 10px;
    border: 1px solid #d0d6d9;
    margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003292}}
    .validate input:focus {
      border-color: #98a1a6; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003296}}
  .validate img {
    height: 40px;
    width: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003300}}
  .validate i {
    font-size: 24px;
    color: #787d82;
    transition: .5s all;
    margin: 8px 0 0 10px;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003306}}
    .validate i:hover {
      transform: rotate(180deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003313}}
header {
  min-width: 1250px;
  background-color: #000;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003319}}
nav {
  display: inline-block;
  color: #fff;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003328}}
  nav ul .navbarHead {
    padding: 0 20px;
    width: 140px;
    background: url(../images/navbarHead.png) center no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003333}}
  nav ul li {
    vertical-align: middle;
    text-align: center;
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003337}}
    nav ul li:hover {
      background-color: rgba(100, 110, 120, 0.6);
      background-color: #646e78\9; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003341}}
    nav ul li a {
      display: block;
      padding: 0 25px;
      height: 60px;
      width: auto;
      line-height: 60px;
      color: #fff;
      text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003354}}
.new {
  background: url(../images/new.png) no-repeat;
  border: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  bottom: 10px;
  right: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003365}}
.login-part,
.search {
  display: inline-block;
  float: right;
  height: 60px;
  line-height: 60px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003373}}
.search {
  position: relative;
  margin: 0 15px;
  width: 210px;
  position: relative;
  height: 45px;
  border-bottom: rgba(120, 125, 130, 0.8) solid 1px;
  border-bottom: #787d82 solid 1px \9;
  font-size: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003382}}
  .search input {
    color: #fff;
    height: 45px;
    width: 100%;
    background: transparent;
    outline: 0;
    border: none;
    z-index: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003391}}
  .search i {
    transition: .8s all;
    position: absolute;
    right: 0;
    bottom: 6px;
    color: #787d82;
    font-size: 20px;
    display: block;
    z-index: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003400}}
    .search i:hover {
      transform: rotateY(360deg);
      color: #fff;
      behavior: url(PIE.htc); }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003406}}
  .search .hover-div {
    z-index: 2px;
    position: absolute;
    top: 0;
    left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003411}}
    .search .hover-div a {
      margin: 0 2px;
      padding: 1px 6px;
      height: 25px;
      line-height: 25px;
      display: inline-block;
      background-color: #2b333b;
      font-size: 14px;
      color: #93999F; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003424}}
.searchUl {
  display: none;
  border: 1px solid #d3d3d3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  background-color: #fff;
  font-size: 12px;
  width: 100%;
  z-index: 20;
  position: absolute;
  left: 0;
  top: 47px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003436}}
  .searchUl li {
    height: 40px;
    line-height: 40px;
    vertical-align: baseline;
    padding: 0 10px;
    color: #787d82; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003442}}
    .searchUl li:hover {
      background-color: #edf0f2;
      color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003449}}
#bell,
#headJpg {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003454}}
.login-part {
  margin: 0 15px;
  z-index: 50;
  color: #787d82;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003459}}
  .login-part ul {
    margin-right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003461}}
    .login-part ul li {
      display: inline-block;
      height: 60px;
      line-height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003462}}
      .login-part ul li:hover {
        background-color: rgba(100, 110, 120, 0.6);
        background-color: #646e78\9; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003469}}
      .login-part ul li a {
        color: #787d82;
        display: block;
        height: 60px;
        width: 100%;
        padding: 0 20px;
        line-height: 60px;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003477}}
        .login-part ul li a:hover {
          color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003481}}
      .login-part ul li i {
        margin-right: 8px;
        font-size: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003486}}
    .login-part ul #login:hover {
      background-color: #ec1500; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003492}}
#headJpg {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003494}}
  #headJpg:hover {
    background: transparent;
    behavior: url(PIE.htc); }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003498}}
  #headJpg img {
    cursor: pointer;
    display: inline-block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    behavior: url(PIE.htc); }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003508}}
.selfInfo {
  width: 306px;
  z-index: 99;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003518}}
  .selfInfo img {
    float: left;
    display: inline-block;
    height: 76px;
    width: 76px;
    border-radius: 50%;
    margin-right: 12px;
    behavior: url(PIE.htc); }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003527}}
  .selfInfo .info-head {
    height: 78px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003532}}
.infoDetail {
  float: left;
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003535}}
  .infoDetail p {
    margin-top: 10px;
    color: #07111B;
    font-size: 16px;
    line-height: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003540}}
    .infoDetail p small {
      margin-right: 10px;
      font-size: 12px;
      line-height: 16px;
      color: #93999F; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003549}}
.info-body {
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9dde1; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003553}}
  .info-body i {
    font-size: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003556}}
  .info-body li {
    padding: 2px 8px;
    float: left;
    display: inline-block !important;
    width: 100px;
    height: 30px !important;
    line-height: 30px !important;
    background-color: #f3f5f7;
    color: #4d555d;
    margin: 0 2px 2px 0;
    font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003570}}
.info-foot {
  margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003572}}
  .info-foot button {
    color: #fff;
    line-height: 10px;
    font-size: 10px;
    background: #f01414;
    border: none;
    padding: 10px 12px;
    border-radius: 4px;
    behavior: url(PIE.htc); }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003581}}
    .info-foot button:hover {
      background-color: #f04646; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003587}}
.shopping-cart {
  padding: 0 12px;
  display: none;
  z-index: 99;
  position: absolute;
  right: 170px;
  top: 100%;
  width: 350px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.2); }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003597}}
  .shopping-cart h2 {
    display: block;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    color: #07111B; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003604}}
  .shopping-cart h5 {
    display: block;
    color: #93999F;
    font-size: 12px;
    line-height: 16px;
    height: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003613}}
.shopping-cart-head {
  padding: 20px 12px;
  border-bottom: 1px solid #d9dde1; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003618}}
.shopping-cart-body {
  border-bottom: 1px solid #d9dde1; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003620}}
  .shopping-cart-body i {
    width: 36px;
    height: 36px;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 12px;
    display: block;
    font-size: 36px;
    color: #fff;
    background: #93999F;
    border-radius: 50%;
    padding: 14px;
    behavior: url(PIE.htc); }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003634}}
  .shopping-cart-body .shopping-text1 {
    width: 180px;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d9dde1;
    text-align: center;
    color: #4d555d; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003645}}
  .shopping-cart-body .shopping-text2 {
    color: #93999F;
    font-size: 12px;
    line-height: 12px;
    margin: 24px 0 16px 0;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003652}}
  .shopping-cart-body .shopping-text3 {
    color: #f01414;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 12px;
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003661}}
.shopping-cart-foot {
  padding: 16px 12px;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003664}}
  .shopping-cart-foot p,
  .shopping-cart-foot button {
    display: inline-block;
    height: 38px;
    line-height: 38px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003670}}
  .shopping-cart-foot p {
    font-size: 12px;
    color: #93999F; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003674}}
  .shopping-cart-foot button {
    color: #fff;
    line-height: 12px;
    font-size: 12px;
    background: #f01414;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    behavior: url(PIE.htc); }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003683}}
    .shopping-cart-foot button:hover {
      background-color: #f04646; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003690}}
section {
  margin: 10px auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003694}}
#course-promote {
  min-width: 1000px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003696}}
  #course-promote div {
    width: 90%;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #edf1f2;
    color: #000;
    line-height: 34px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003704}}
    #course-promote div dl {
      margin-left: 64px;
      display: block;
      line-height: 34px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003709}}
    #course-promote div dd {
      text-align: center;
      display: inline-block;
      height: 34px;
      width: auto;
      min-width: 48px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003716}}
    #course-promote div dd {
      font-size: 14px;
      line-height: 34px;
      margin: 0 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003720}}
      #course-promote div dd:hover:not(.active) {
        color: #ec1500; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003724}}
    #course-promote div .active {
      background-color: black;
      border-radius: 4px;
      color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003732}}
.content-hd {
  float: left;
  display: block;
  font-size: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003738}}
#course-promote .content-3 {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003743}}
#classes {
  background-color: #f3f5f7;
  min-width: 1000px;
  color: #787d82;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003750}}
.class-header {
  width: 90%;
  margin: 10px auto;
  padding: 20px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003756}}
.class-content {
  background-color: #f3f5f7;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003763}}
.page {
  width: 80%;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003768}}
.hot-pop,
.hideClass {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  margin: 0 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003776}}
.hot-pop {
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003778}}
  .hot-pop .active {
    color: #ec1500; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003781}}
  .hot-pop a {
    margin: 0 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003786}}
.hideClass {
  float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003788}}
  .hideClass a {
    margin: 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003790}}
    .hideClass a i {
      display: inline-block;
      text-align: center;
      height: 18px;
      width: 18px;
      font-size: 18px;
      line-height: 18px;
      border-radius: 14px;
      color: #fff;
      background-color: #c8cdd2; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003800}}
      .hideClass a i:hover {
        background-color: #b7bbbf; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003807}}
.unchecked {
  padding-left: 50px;
  padding-top: 2px;
  background: url("../images/sw-off.png") no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003813}}
.checked {
  padding-left: 50px;
  padding-top: 2px;
  background: url("../images/sw-on.png") no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003820}}
.class-four {
  float: left;
  width: 216px;
  height: 503px;
  margin: 0 0 18px 18px;
  border-radius: 8px;
  background-color: #EFF1F3; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003829}}
.class-card {
  transition: .2s all;
  position: relative;
  border-bottom: 1px solid #d9dde1;
  height: 91px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003834}}
  .class-card .card-1 {
    opacity: 1;
    height: 91px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003838}}
  .class-card .card-2 {
    opacity: 0;
    height: 0;
    overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003845}}
.class-card.card-active {
  height: 226px;
  border-radius: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003848}}
  .class-card.card-active .card-1 {
    opacity: 0;
    height: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003852}}
  .class-card.card-active .card-2 {
    opacity: 1;
    height: 226px;
    overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003859}}
.card-1-head {
  font-size: 12px;
  color: #000;
  padding: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003865}}
.card-1-foot {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003870}}
  .card-1-foot p {
    margin: 0 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003873}}
  .card-1-foot p .r {
    font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003878}}
.card-2 {
  padding: 20px 15px;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003883}}
.card-2-head {
  color: rgba(255, 255, 255, 0.8);
  color: #fff \9;
  font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003890}}
.card-2-content h2 {
  margin: 16px 0 4px 0;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  text-shadow: 0 2px 4px rgba(7, 17, 27, 0.4); }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003898}}
.card-2-content p {
  color: #fff;
  font-size: 12px;
  text-shadow: 0 2px 4px rgba(7, 17, 27, 0.4); }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003905}}
.card-2-foot {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 64px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003910}}
  .card-2-foot p {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    font-weight: 300; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003918}}
.class-panel {
  margin: 0 0 18px 18px;
  height: 256px;
  width: 216px;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003925}}
.panel-head {
  position: relative;
  height: 120px;
  width: 216px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003929}}
  .panel-head img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    behavior: url(PIE.htc); }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003939}}
  .panel-head .label-div {
    position: absolute;
    left: 8px;
    bottom: 6px;
    z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003944}}
    .panel-head .label-div label {
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000)";
      font-size: 12px;
      color: #fff;
      font-weight: 200;
      margin: 0 1px;
      padding: 4px 8px;
      display: inline-block;
      border-radius: 12px;
      background-color: rgba(7, 17, 27, 0.4);
      behavior: url(PIE.htc); }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003961}}
.panel-body h3 {
  padding: 12px 8px;
  font-size: 16px;
  line-height: 24px;
  word-wrap: word-break;
  color: #07111B; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003968}}
.panel-body .panel-content {
  padding: 2px 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003971}}
.panel-body p {
  margin-top: 2px;
  color: #93999F;
  line-height: 22px;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003981}}
.panel-body i {
  font-size: 8px;
  margin: 0 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003987}}
.page {
  position: relative;
  margin-bottom: 40px;
  z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003991}}
  .page ul {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\00003994}}
  .page li,
  .page span {
    display: inline-block;
    margin: 0 8px;
    font-size: 14px;
    color: #2d374b;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031002}}
  .page li {
    line-height: 32px;
    min-width: 24px;
    padding: 0 4px;
    border-radius: 50%;
    behavior: url(PIE.htc); }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031008}}
    .page li:hover {
      background-color: #d9dde1; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031012}}
  .page .page-active {
    background-color: #4d555d; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031014}}
    .page .page-active a {
      color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031017}}
    .page .page-active:hover {
      background-color: #4d555d; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031023}}
footer {
  background-color: #000;
  color: #c8cdd2;
  min-width: 620px;
  min-height: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031030}}
.introduction {
  float: left;
  padding: 20px 20px;
  padding-left: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031034}}
  .introduction li {
    display: inline-block;
    margin-left: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031038}}
  .introduction a {
    font-size: 12px;
    color: #c8cdd2; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031042}}
  .introduction p {
    margin-top: 5px;
    margin-left: 30px;
    font-size: 12px;
    color: #787d82; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031050}}
.followus {
  padding: 20px 20px;
  padding-left: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031053}}
  .followus a {
    display: inline-block;
    margin-right: 30px;
    width: 32px;
    height: 32px;
    color: #14191e;
    background: url("../images/followUs.png") no-repeat;
    opacity: 0.5;
    transition: 1s all; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031062}}
    .followus a:hover {
      opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031066}}
  .followus .a-weixin {
    background-position: 0 -279px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031069}}
  .followus .a-weibo {
    background-position: 0 -321px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031072}}
  .followus .a-qq {
    background-position: 0 -363px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031077}}
#rightNav {
  position: fixed;
  right: 20px;
  top: 50%;
  padding: 0 12px;
  margin-top: -150px;
  z-index: 3;
  width: 60px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(7, 17, 27, 0.1); }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031088}}
  #rightNav li {
    position: relative;
    display: block;
    height: 36px;
    padding: 12px 0;
    font-weight: lighter;
    color: #D9DDE1;
    border-bottom: 1px solid #edf1f2;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031099}}
  #rightNav li:hover i {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031102}}
  #rightNav li:hover b {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031105}}
  #rightNav li:hover span {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031109}}
  #rightNav i {
    box-sizing: border-box;
    padding: 16px 8px;
    display: block;
    font-size: 22px;
    height: 22px;
    line-height: 22px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031123}}
  #rightNav b {
    position: absolute;
    color: #07111b;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    font-size: 12px;
    vertical-align: baseline;
    line-height: 16px;
    padding: 16px 0;
    font-weight: 300;
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031137}}
  #rightNav span {
    position: absolute;
    bottom: 0;
    right: 40px;
    z-index: 500;
    width: 180px;
    height: 180px;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031148}}
#wechatAccount {
  background: url(../images/elevator.png) no-repeat;
  background-position: 0 -20px;
  background-size: cover; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Practice\/Git\%20Project\/Imooc\/imooc\/scss\/imooc\.scss}line{font-family:\000031154}}
#appDownload {
  background: url(../images/elevator.png) no-repeat;
  background-position: 0 -240px;
  background-size: cover; }

/*# sourceMappingURL=imooc.css.map */
